{{#*inline "page"}}
    <div class="col-sm-3 col-sm-offset-9">
        <a class="btn btn-primary pull-right" href="/helpdesk/new">
            <i class="fa fa-plus" aria-hidden="true"></i> New Issue
        </a>
    </div>
    <h1>Some Stuff</h1>
    <p class="lead">I don't know what I'm doing</p>
{{/inline}}

{{> common/layout}}